
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<script type="text/javascript" language="javascript">
        function goBack() {
            history.go(-1);
            return false;
        }
</script>
<div id="wrapper" class="bg-gray" style="font-family: 'omnes-pro',sans-serif; font-size: 15px;
        font-weight: 500; margin-top:52px;">
    <table style="padding-left: 5px; padding-top: 30px;">
        <tr>
            <td width="325px">
                <img src="~/Images/crybaby.jpg"/>
            </td>
            <td valign="top">
                <div ID="pnlErrorMsg" Style="font-size: large; padding-left: 5px;">
                    <div ID="lblError">Ugh... An unexpected error occurred in the application.</div>
                    <br />
                    <br />
                    Please contact us at <a style="color: blue;" href="mailto:IPTSE@enquiry@iptse.com">IPTSE@enquiry@iptse.com</a>
                    or, you can click <a style="color: blue;" href="http://test.iptse.com/">here</a> to
                    go back to the Previous Page.
                    <br />
                    <br />
                    Thank you for your patience.
                    <br />
                </div>
            </td>
        </tr>
    </table>

</div>

