
<!DOCTYPE html>

@{
    Layout = null;
}


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Intellectual Property Talent Search Examination</title>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <style>
        .formcontrol1 {
            width: 100%;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header navbar-right ">
                <img src="~/Images/logo.png" height="50" width="50" />
                <div class="navbar-brand">Intellectual Property Talent Search Examination</div>
            </div>
        </div>
    </div>
    <br />
    <div class="container body-content">
        <div style="width:45%;float:left;text-decoration:solid;font-size:large;" align="left"> <b>IPTSE Online Mock Test</b> </div>
        <div style="width:45%;float:right;" align="left">Total Time :- 10 Minutes</div>
        <div style="width:45%;float:right;" align="left">Total Question :- 10</div>
        <div style="padding-top:50px;font-size:small;" align="left">Before you begin please read the following instruction carefully</div>
    </div>
    <div style="padding-top: 20px;font-size: large;padding-left: 114px;" align="left">
        During the exam:
        <ul style="font-size:small;">
            <li>The student must not use his or her textbook, course notes or any other outside source.</li>
            <li>Students must complete the 10-question multiple-choice exam within the 10 minute time frame allotted for the exam.</li>
            <li>Students must not stop the session and then return to it. This is especially important in the online environment where the system will "time-out" and not allow the student or you to reenter the exam site.</li>
        </ul>
    </div>
    <div style="font-size: large;padding-left: 114px;" align="left">
        What to do if your online exam is interrupted
        <ul style="font-size:small;">
            <li>If your online exam is interrupted, click the “Back” button on your web browser to see if you can return to the exam. If not, follow the instructions below to resume taking the exam. Note: Answers are saved by the system in 10-minute intervals. If you have to log back in to complete your exam, your prior answers will be remain from the last system-save.</li>
            <li>Reconnect to the Internet and log back into Blackboard.</li>
            <li>Follow your original instructions to access the exam login page.</li>
            <li>Enter the Username and Password provided in the email from the IPTSE and click enter.</li>
        </ul>
    </div>
    <div style="font-size: large;padding-left: 114px;" align="left">
        Minimum Browser Requirements
        <ul style="font-size:small;">
            <li>Firefox, Safari or Google Chrome are required to log into the exam.</li>
        </ul>
    </div>
    <div style="font-size: large;padding-left: 114px;" align="left">
        Support
        <ul style="font-size:small;">
            <li>If you have any questions, please contact the IPTSE at 121-263-7265 or email IPTSE@enquiry@iptse.com</li>
        </ul>
    </div>
    <div style="font-size: large;padding-left: 114px;" align="left">
        @using (Html.BeginForm("MockTest", "Mock", FormMethod.Post))
        {
            <input id="Start" type="submit" value="START" class="btn btn-danger" />
        }
    </div>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-right navbar-brand">
                <a href="http://www.martancy.com/" target="_blank">Site Powered by Martancy </a>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
