
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body onload="">
    <div> 
        @using (Html.BeginForm())
        {
            <br>
            <br>
            <br>
            <br>

            <br>
            <h2 style="color: #4cff00;" align="Center">Congratulation! you have successfully completed your Test.</h2>
            <h3 style="color: #4cff00;" align="Center">Thank you !!.</h3>
            <h3 align="Center"><a href="http://portal.iptse.com">Login Now</a></h3>

        }
    </div>
</body>
</html>
