
<!DOCTYPE html>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container body-content">
    <div style="width:45%;float:left;text-decoration:solid;font-size:large;" align="left"> <b>IPTSE Online Test For School Sudent</b> </div>
    <div style="width:45%;float:right;" align="left">Total Time :- 45 Minutes</div>
    <div style="width:45%;float:right;" align="left">Total Question :- 36</div>
    <div style="padding-top:50px;font-size:small;" align="left">Before you begin please read the following instruction carefully</div>
</div>
<div style="padding-top: 20px;font-size: large;padding-left: 15px;" align="left">
    <b>During the exam</b>
    <ul style="font-size:small;">
        <li>Do not click on back button or refresh button. It can simply end your exam and you may disqualify.</li>
        <li>The student must not use his or her textbook, course notes or any other outside source.</li>
        <li>Students must complete multiple-choice exam within the time frame allotted for the exam.</li>
        <li>Students must not stop the session and then return to it. This is especially important in the online environment where the system will "time-out" and not allow the student or you to reenter the exam site.</li>
    </ul>
</div>
<div style="font-size: large;padding-left: 15px;" align="left">
    <b>What to do if your online exam is interrupted</b>
    <ul style="font-size:small;">
        <li>If your online exam is interrupted, please contact IPTSE help desk. You may need to restart the exam.</li>
    </ul>
</div>
<div style="font-size: large;padding-left: 15px;" align="left">
    <b> Minimum Browser Requirements</b>
    <ul style="font-size:small;">
        <li>Firefox, Safari or Google Chrome are required to log into the exam.</li>
    </ul>
</div>
<div style="font-size: large;padding-left: 15px;" align="left">
    <b>Support</b>
    <ul style="font-size:small;">
        @{ var email = "mailto:enquiry@iptse.com";}
        <li>If you have any questions, please contact the IPTSE at 121-263-7265 or email <a href="@email">enquiry@iptse.com</a></li>
    </ul>
</div>
<div style="font-size: large;padding-left: 25px; padding-top:30px;" align="left">
    @using (Html.BeginForm("SchoolTest", "School", FormMethod.Post))
    {
        <input id="Start" type="submit" value="START EXAM" class="btn btn-danger" />
    }
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
